{% extends "layout.html" %}

{% block body %}
    <h1>FALE CONOSCO</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.</p>
        
    <form action="/contact_us_send_msg" method="post">
        NOME
        <input name="nome" type="text" required autofocus>
        <br/>
        EMAIL
        <input name="email" type="email" required>
        <br/>
        MENSAGE
        <input name="mensagem" type="text" required>
        <br/>
        <input type="submit" value="ENVIAR">
    </form>
{% endblock %}