{% extends "layout.html" %}

{% block div %}
    {% if login_session %}
        <div class="login-container">
            <a href="{{ url_for('logout') }}">LOG OUT</a>
        </div>
    {% else %}
        <div class="login-container">
            <form action="/login" method="post">
                <input type="text" placeholder="CPF" name="cpf">
                <input type="password" placeholder="SENHA" name="senha">
                <button type="submit">Login</button>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block body %}
    {{ err_message }}
{% endblock %}