{% extends "layout.html" %}

{% block div %}
    {% if login_session %}
        <div class="login-container">
            <a href="{{ url_for('logout') }}">LOG OUT</a>
        </div>
    {% else %}
        <div class="login-container">
            <form action="/login" method="post">
                <input type="text" placeholder="CPF" name="cpf">
                <input type="password" placeholder="SENHA" name="senha">
                <button type="submit">Login</button>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block body %}
    {% if login_session %}
        <p>Seja bem vindo. {{ usr_name }}</p>
    {% else %}
        </div>
        <p>ENTRE NESTE MUNDO</p>
        <button><a href="{{ url_for('register') }}">CADASTRE-SE</a></button>
    {% endif %}
    <h2>Fully Responsive</h2>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    <button >START TOUR</button>
{% endblock %}
