{% extends "layout.html" %}

{% block div %}
    {% if login_session %}
        <div class="login-container">
            <a href="{{ url_for('logout') }}">LOG OUT</a>
        </div>
    {% else %}
        <div class="login-container">
            <form action="/login" method="post">
                <input type="text" placeholder="CPF" name="cpf">
                <input type="password" placeholder="SENHA" name="senha">
                <button type="submit">Login</button>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block body %}
    </div>
    <h2>CADASTRO</h2>
    <form action="/validate_register" method="post">
        NOME
        <br/>
        <input name="nome" type="text" required autofocus
        oninvalid="this.setCustomValidity('Escreva seu nome.')" oninput="this.setCustomValidity('')">
        <br/>
        CPF
        <br/>
        <input name="cpf" type="number" required
        oninvalid="this.setCustomValidity('CPF inválido.')" oninput="this.setCustomValidity('')">
        <br/>
        EMAIL
        <br/>
        <input name="email" type="email" required
        oninvalid="this.setCustomValidity('Email inválido.')" oninput="this.setCustomValidity('')">
        <br/>
        DATA DE NASCIMENTO
        <br/>
        <input name="nascimento" type="date" value="2002-01-01" min="1910-01-01" max="2006-01-01"
        required>
        <br/>
        SENHA
        <br/>
        <input name="senha" type="password" minlength="4" required 
        oninvalid="this.setCustomValidity('Senha inválida. Mínimo 4 dígitos.')" oninput="this.setCustomValidity('')">
        <br/>
        CONFIRMAR SENHA
        <br/>
        <input name="confirmar-senha" type="password" minlength="4" required>
        <br/>
        <input type="submit" value="SALVAR">
    </form>
    
    <h2>Fully Responsive</h2>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    <button >START TOUR</button>
{% endblock %}
